*{
    background-image:url(holographic-gradient-illustration.jpg);
    background-size: cover;
}
div{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
position:relative;
 top: 150px;
    bottom: 200px;
    left:500px;
    height:fit-content;
    width:300px;
}